@font-face {
    font-family: 'Gravitas One';
    src: url('../fonts/GravitasOne.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    --top-bottom-background-color: #f9fafb;
    --button-login-color: #4358dc;
    --logo-color: white;
    --logo-background-color: rgb(13 13 13 / 85%);
}

.container {
    display: flex;
}

aside {
    flex: 1;
}

main {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: left;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: url("../img/lucha-masks.jpg");
    background-size: cover;
    color: var(--logo-color);
}

figure .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    padding: 10px;
    height: 15%;
    background-color: var(--logo-background-color);
}

figure img {
    max-width: 20%;
}

figure h1 {
    font-family: "Gravitas One";
    font-size: calc(4rem + 0.75vw);
}

figure figcaption {
    font-weight: 700;
    font-size: calc(0.5rem + 0.1vw);
    margin-bottom: 1rem;
}

figcaption a {
    color: inherit;
    text-decoration: underline;
}

main .top,
main .bottom {
    flex: 2;
    background-color: var(--top-bottom-background-color);
}

main .top,
main .middle,
main .bottom {
    padding-left: 3rem;
}

main .middle {
    flex: 1;
    padding-bottom: 2rem;
}

main .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    font-size: calc(0.75rem + 0.5vw);
    padding-right: 20%;
}

.top .intro {
    margin-top: 5rem;
    max-inline-size: 65ch;
}

.top .sub-intro {
    margin: 1.5rem 0;
}

form {
    display: flex;
    gap: 4rem;
}

form .form-column-left,
form .form-column-right {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
    font-size: calc(0.25rem + 0.5vw);
}

form input {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    transition: 0.5s ease;
}

input:focus {
    border-color: #0424D9;
    box-shadow: #D3D3D3 3px 3px;
}

input[type=password]:user-invalid,
input[type=email]:user-invalid {
    border-color: #ff0000;
}

.italic {
    font-style: italic;
}



button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
    background-color: var(--button-login-color);
    border-radius: 5px;
    padding: 12px 50px;
    font-weight: 700;
}

a {
    color: var(--button-login-color);
    text-decoration-line: none;
}