@font-face {
    font-family: 'Gravitas One';
    src: url('../fonts/GravitasOne.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    --section-color: #f9fafb;
    --button-login-color: #4358dc;
    --logo-background-color: rgb(13 13 13 / 85%);

}

.container {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 100vh;
    background-image: url("../img/lucha-masks.jpg");
    background-size: cover;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 25vh;
    padding: 5px;
    width: 100%;
    height: 15%;
    background-color: var(--logo-background-color);
}

.image-container,
.title-container {
    flex: initial;
}

img {
    height: 100%;
    width: 100%;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    flex: 1;
    color: white;
    font-family: "Gravitas One";
    font-size: 4em;
}

.photo-attribution {
    color: white;
    font-weight: 700;
    margin-top: 55vh;
    margin-bottom: 1vh;
    font-size: calc(0.25rem + 0.5vw);
}

.photo-attribution a {
    color: inherit;
    text-decoration: underline;
}

.right {
    width: 65vw;
}

.top,
.middle,
.bottom {
    text-align: left;
    padding-left: 5%;
}

.top,
.bottom {
    height: 35vh;
    background-color: var(--section-color);
}

.middle {
    height: 30vh;
}

form {
    display: flex;
    gap: 5%;
}

.form-column-left,
.form-column-right {
    display: flex;
    flex-direction: column;

}

label {
    margin-top: 10%;
}

input {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 5px;
}

input:focus {
    outline-color: #0424D9;
    box-shadow: #D3D3D3 3px 3px;
}

input[type=password]:invalid{
    border-color: #ff0000;
}

.top {
    font-weight: 700;
    font-size: 20px;
    padding-right: 20%;
    padding-top: 16vh;
}

.italic {
    font-style: italic;
}

.text-container {
    max-inline-size: 65ch;
}

button {
    margin-top: 4vh;
    margin-bottom: 4vh;
    color: white;
    text-align: center;
    background-color: var(--button-login-color);
    border-radius: 5px;
    padding: 12px 50px;
    font-weight: 700;
}

a {
    color: var(--button-login-color);
    text-decoration-line: none;
}