* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.container {
    display: flex;
}

.left,
.right {
    flex: auto;
}

.top {
    height: 35vh;
    background-color: #f9fafb;
}

.middle {
    height: 30vh;
}

.bottom {
    height: 35vh;
    background-color: #f9fafb;
}

.top>p {
    font-weight: 700;
}