* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

.container {
    display: flex;
}

.left,
.right{
    flex: auto;
}

.left{
    width: 40vw;
}

.right{
    width: 60vw;
}

.top{
    height: 35vh;
}

.middle{
    height: 30vh;
}

.bottom{
    height: 35vh;
}

