* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    --section-color: #f9fafb;
}

.container {
    display: flex;
}

.left,
.right {
    flex: auto;
}

.top, .bottom {
    height: 35vh;
    background-color: var(--section-color);
}

.middle {
    height: 30vh;
}

.top>p {
    font-weight: 700;
    font-size: 20px;
}