* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    --section-color: #f9fafb;
}

.container {
    display: flex;
}

.left {
    width: 35vw;
}

.right {
    width: 65vw;
}

.top,
.middle,
.bottom {
    text-align: left;
    padding-left: 5%;
}

.top,
.bottom {
    height: 35vh;
    background-color: var(--section-color);
}

.middle {
    height: 30vh;
}

.top>p {
    font-weight: 700;
    font-size: 20px;

}